*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.image{
    /* overflow: hidden; */
    margin: 1em 8em 0.3em  ;
}
header .image img
{
    /* overflow: hidden; */
    width: 100%;
    height: auto;
    /* margin: 2px 50px 5px 40px;
    padding: 80px; */
}
header h3{
    text-align: center;
    font-family:'Pacifico', cursive;
    font-size: 150%;
}
.container
{
    margin: 30px;
}
.float-child{
    /* margin: 42px; */
    float: left;
    width: 50%;
    margin-bottom: 30px;
}

.right{
   text-align: center;
   align-items: center;
padding: 8.5em 8em;
}
article h1{
    color: #ececec;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}
td{
    
    border-bottom: 1.5px solid #ddd;
    padding: 5px 20px;
}
 .column1,.asidecolumn1{
    font-weight: bold;
}
td .column2{
   padding: 20px 20px;
    vertical-align: middle;
    text-align: left;
}

.column2{
    background-color: rgba(255, 253, 253, 0.94);
    margin: 10px;
}

.asideImage {
    height:100%;
}
.asideImage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
padding-top: 5px ;
padding-left: 20px;
}
/* .tableaside
{
    margin: auto;
} */
.aside{
   
    margin:0 auto;  
}
.footer{
    height: 150px;
    /* margi-bottom: 10pxpadding-bottom: 67px;*/
}
.bottom{
    margin: auto;
    /* margin-bottom: 60px; */
    background-color: #ececec;
    font-family: 'Pacifico', cursive;
    text-align: center;
    width: 80%;
    padding: 20px;
    line-height: 35px;
    clear: left;
    /* margin-bottom: 90px; */
   
}


/* @media only screen and (min-width: 1281px)
{
    body{
  margin: auto;
  width: 100%;
  font-size: 30px;
    }
   
    .left table{
      height: 856px;
    }
    .bottom{
        padding-top: 30px;
    }

} */